{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Prototype</title>
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
  <script type="text/css" src="{% static 'coloring/vendors/bootstrap/css/bootstrap.min.css' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <canvas id="myCanvas" class="col-6"></canvas>
      <img id="myimage" class="col-6" src="/static/coloring/images/Rainbow.svg">
    </div>
    <div class="row">
      <div id="output" class="col-4"></div>
      <div id="mousetracker" class="col-4"></div>
    </div>
    
    <br>
    
	  <div class="row">
      <div id="custom-color-palette" class="col"></div>
      <div class="dot col" id="current-color"></div>
    </div>
    
    <br>
	
    <div class="row">
      <button id='cal' class="col"> Switch IMG to Cal Logo </button>
      <button id='undo' class="col"> Undo</button>
    </div> 
  </div>

</body>
  
<style>
	div#output {
    color: "black";
    float: left;
  }
  
  div#mousetracker {
    float: left;
  }
  
	img {
    width: 400px;
  }
  #myCanvas {
    width: 400px;
    height: 300px; 
	}
  
  .swatch {
		width: 24px;
		height: 24px;
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
		border-radius: 12px;
		margin: 3px;
    float: right;
	}

  #custom-color-palette {
    width:30%;
    background-color: #f1f1f1;
    overflow: wrap;
    float: left;
    display: flex;
    margin-top: 10px;
  }
    
  .dot {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-style: solid;
    float: left;
  }
    
  #current-color {
    background-color: #f1f1f1;
  }
  
  button {
    float: left;
  }
</style>
  
<script>
window.onload = function() {
  //custom color plate
  var customCP = {
		history: ["#000000"], // black selected by default
		options: ["#000000"], // black added by default
		$container: $('#custom-color-palette')
  }
  
  var doList = {
    colorhistory: ["#000000"],
    undocolorhistory: ["#000000"],
    objecthistory: [null],
    index: 0,
    undospree: false
  }
  
	var canvas = document.getElementById('myCanvas');
  paper.setup(canvas);
    
  drawSnowman(doList);
  
  setupCollection(doList);
  
  $("#cal").click(function() {
    document.getElementById("myimage").src = "/static/coloring/images/CalLogo.jpg";
  });
  
  $("body").mousemove(function(event) {
    document.getElementById("mousetracker").innerHTML = "(X: " + event.pageX + " , Y: " + event.pageY + ")";
  });

  getCustomColorsCreatePalette(customCP);
  
  function setupCollection(doList) {
   $('#myimage').mousedown(function(e) {
	  if(!this.canvas) {
	    this.canvas = $('<canvas />')[0];
	  	this.canvas.width = this.width;
	  	this.canvas.height = this.height;
	  	this.canvas.getContext('2d').drawImage(this, 0, 0, this.width, this.height);
	  }
	  var pixelData = this.canvas.getContext('2d').getImageData(event.offsetX, event.offsetY, 1, 1).data;
	  $('#output').html('R: ' + pixelData[0] + ' G: ' + pixelData[1] + ' B: ' + pixelData[2] + ' A: ' + pixelData[3]);
	  var rgbavalue = "rgb(" + pixelData[0] + "," + pixelData[1] + "," + pixelData[2] + "," + pixelData[3] + ")";
    document.getElementById("current-color").style.backgroundColor = rgbavalue;
    var hexval = RGBToHex(pixelData[0], pixelData[1], pixelData[2]);
    doList.colorhistory.push(hexval);
    updateCustomCPOptions(hexval, customCP);
  });
 }
  
 undo(doList);
}

function undo(doList) {
  $('#undo').click(function() {
    if (doList.index != 0) {
      console.log("CALLED");
      var lastobject = doList.objecthistory[doList.index];
      var lastcolor = doList.undocolorhistory[doList.index];
      console.log(doList.objecthistory);
      console.log(doList.undocolorhistory);
      console.log(doList.index);
      lastobject.fillColor = lastcolor;
      doList.objecthistory.pop();
      doList.undocolorhistory.pop();
      doList.index -= 1;
      doList.undospree = true;
    }
  });
}


//CANVAS

function drawRectangle(doList) {
  var tool = new paper.Tool();
  var apath = new paper.Path.Rectangle(new paper.Point(0, 0), new paper.Point(400, 400));
  var shape = new paper.Path.Circle(new paper.Point(100, 100), 100);
  shape.fillColor = 'blue';
  apath.fillColor = 'red';
  paper.view.draw();
  
  tool.onMouseDown = function (event) {
    var hit = apath.hitTest(event.point, { tolerance: 0, fill: true });
    hit.item.fillColor = doList.colorhistory[doList.colorhistory.length - 1];
  }
}
  
function drawSnowman(doList) {
  var tool = new paper.Tool();
  var cirp3 = new paper.Path.Circle(new paper.Point(200, 240), 60);
  var cirp2 = new paper.Path.Circle(new paper.Point(200, 160), 40);
  var cirp1 = new paper.Path.Circle(new paper.Point(200, 100), 35);
  var tri = new paper.Path();
  tri.add(new paper.Point(225, 105));
  tri.add(new paper.Point(225, 115));
  tri.add(new paper.Point(245, 110));
  tri.closed = true;
  tri.fillColor = '#ffffff';
  tri.strokeColor = '#000000';
  cirp1.fillColor = '#ffffff';
  cirp2.fillColor = '#ffffff';
  cirp3.fillColor = '#ffffff';
  cirp1.strokeColor = '#000000';
  cirp2.strokeColor = '#000000';
  cirp3.strokeColor = '#000000';
  paper.view.draw();
  
  tool.onMouseDown = function (event) {
    var hit1 = cirp3.hitTest(event.point, { tolerance: 0, fill: true });
    if (hit1) {
      doList.undocolorhistory.push(rgbToHex(cirp3.fillColor.toCanvasStyle()));
      doList.objecthistory.push(cirp3);
      cirp3.fillColor = doList.colorhistory[doList.colorhistory.length - 1];
      doList.index += 1;
      doList.undospree = false;
    }
    var hit2 = cirp2.hitTest(event.point, { tolerance: 0, fill: true });
    if (hit2) {
      doList.undocolorhistory.push(rgbToHex(cirp2.fillColor.toCanvasStyle()));
      doList.objecthistory.push(cirp2);
      cirp2.fillColor = doList.colorhistory[doList.colorhistory.length - 1];
      doList.index += 1;
      doList.undospree = false;
    }
    var hit3 = cirp1.hitTest(event.point, { tolerance: 0, fill: true });
    if (hit3) {
      doList.undocolorhistory.push(rgbToHex(cirp1.fillColor.toCanvasStyle()));
      doList.objecthistory.push(cirp1);
      cirp1.fillColor = doList.colorhistory[doList.colorhistory.length - 1];
      doList.index += 1;
      doList.undospree = false;
    }
    var hit4 = tri.hitTest(event.point, { tolerance: 1, fill: true });
    if (hit4) {
      doList.undocolorhistory.push(rgbToHex(tri.fillColor.toCanvasStyle()));
      doList.objecthistory.push(tri);
      tri.fillColor = doList.colorhistory[doList.colorhistory.length - 1];
      doList.index += 1;
      doList.undospree = false;
    }
  }
}
  
//COLOR BAR

function compareString(st1, st2) {
  if (st1.length != st2.length) {
    return false;
  }
  for (var i = 0; i <= st1.length; i++) {
    if (st1.charAt(i) != st2.charAt(i)) {
      return false;
    }
 } return true;
}  

function componentFromStr(numStr, percent) {
    var num = Math.max(0, parseInt(numStr, 10));
    return percent ?
        Math.floor(255 * Math.min(100, num) / 100) : Math.min(255, num);
}

function rgbToHex(rgb) {
    var rgbRegex = /^rgb\(\s*(-?\d+)(%?)\s*,\s*(-?\d+)(%?)\s*,\s*(-?\d+)(%?)\s*\)$/;
    var result, r, g, b, hex = "";
    if ( (result = rgbRegex.exec(rgb)) ) {
        r = componentFromStr(result[1], result[2]);
        g = componentFromStr(result[3], result[4]);
        b = componentFromStr(result[5], result[6]);

        hex = "#" + (0x1000000 + (r << 16) + (g << 8) + b).toString(16).slice(1);
    }
    return hex;
}

function RGBToHex(r,g,b) {
  r = r.toString(16);
  g = g.toString(16);
  b = b.toString(16);

  if (r.length == 1)
    r = "0" + r;
  if (g.length == 1)
    g = "0" + g;
  if (b.length == 1)
    b = "0" + b;

  return "#" + r + g + b;
}
  
// creat a custom color palette with the given color
function createCustomColorsPalette(colors, customCP) {
// create a swatch for each colors
  for (var i = customCP.options.length - 1; i >= 0; i--) {
	  var $swatch = $("<div>").css("background-color", customCP.options[i]).addClass("swatch");
		$swatch.click(function(){
		  // add color to the color palette history
			customdoList.colorhistory.push($(this).css("background-color"));
		});
		customCP.$container.append($swatch);
  }
}
      
//update function
function updateCustomCPOptions(color, customCP) {
  var contain = false;
  for (var i = 0; i <= (customCP.options.length - 1); i++) {
    if (compareString(color, customCP.options[i])) {
      contain = true;
    }
  }
  if (!(contain)) {
    customCP.options.push(color);
    var $swatch = $("<div>").css("background-color", color).addClass("swatch");
    $swatch.click(function(){
		  // add color to the color palette history
		  customdoList.colorhistory.push($(this).css("background-color"));
		});
		customCP.$container.append($swatch);
  }
}

// loads a set of colors from a json to create a color palette
function getCustomColorsCreatePalette(customCP){
	customCP.$container.html(" ");
	$.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
	  var keys = Object.keys(colors);
	  createCustomColorsPalette(customCP.options, customCP);
	});
}
</script>

</html>